<h2>Home</h2>
<!-- 
<div class="slider fullscreen">
   <ul class="slides">
     <li>
       <img src="http://venus.1degreeworld.biz//venus/images/websites/17/pages/Home-Page-Meta-Data.jpg"> <!-- random image -->
       <div class="caption center-align">
         <h3>This is our big Tagline!</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
     <li>
       <img src="#"> <!-- random image -->
       <div class="caption left-align">
         <h3>Left Aligned Caption</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
     <li>
       <img src="#"> <!-- random image -->
       <div class="caption right-align">
         <h3>Right Aligned Caption</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
     <li>
       <img src="#"> <!-- random image -->
       <div class="caption center-align">
         <h3>This is our big Tagline!</h3>
         <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
       </div>
     </li>
   </ul>
 </div>
 <div class="center-align buttons-wrapper">
  <div class="row left">
    <a class="waves-effect waves-green btn-small hoverable mg-rg black" href="/auth/login">Login</a>
  </div>
  <div class="row right">
    <a class="waves-effect waves-green btn-small hoverable mg-rg black" href="/auth/signup">Signup</a>
  </div>
</div> -->

<!--
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">User Profile</a> -->
